<div class="d-flex justify-content-center" style="margin-top: 75px;">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Giriş</h3>
            </div>
            <div class="card-body">
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                    <div class="form-group">
                        <label for="email">Mail Adresi</label>
                        <input class="form-control" type="email" ngModel name="email" id="email" #email [appValid]="email.validity.valid" required email>
                        <div class="invalid-feedback">
                            Geçerli bir mail adresi giriniz!
                        </div>
                    </div>
                     <div class="form-group mt-2">
                        <label for="password">Şifre</label>
                        <input class="form-control" type="password" ngModel name="password" id="password" #password [appValid]="password.validity.valid" required minlength="6">
                        <div class="invalid-feedback">
                            Geçerli bir şifre giriniz!
                        </div>
                    </div>
                     <div class="form-group">
                        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-outline-primary w-100 mt-2">Giriş Yap</button>
                        <a routerLink="/register" style="float: right;">Kayıt Ol</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>